<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c" xmlns:lang="http://www.springframework.org/schema/lang" xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


    <import resource="classpath:/dubbxBraveConfig/spring-brave-helper.xml" />

    <bean id="brave" class="com.doctor.dubbo.extend.brave.BraveFactoryBean" p:serviceName="${brave.serviceName}" p:spanCollector-ref="httpSpanCollector" />
    <bean id="defaultDubboSpanNameProvider" class="com.doctor.dubbo.extend.brave.DefaultDubboSpanNameProvider" />
    <bean id="dubboStringServiceNameProvider" class="com.doctor.dubbo.extend.brave.DefaulDubboServiceNameProvider" />


    <bean id="httpSpanCollector" class="com.github.kristofa.brave.HttpSpanCollector" factory-method="create">
        <constructor-arg type="java.lang.String" value="http://localhost:9411/" />
        <constructor-arg type="com.github.kristofa.brave.SpanCollectorMetricsHandler" ref="testMetricsHander" />
    </bean>


    <bean id="testMetricsHander" class="com.doctor.dubbo.extend.brave.TestMetricsHander" />
</beans>
